<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeQingPu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1865E96A1EC2DA4E006F1EEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1865E9831EC2DA4E006F1EEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1865E98E1EC2DA4E006F1EEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
